body {
  background-color: #d3be99;
}
button {
  color: black;
  padding: 17px 40px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

img {
display: block;
  width: 500px;
  height: 400px;
}

p {
  font-size: 60px;
  font-family: serif;
  text-align: center;
  color: red;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: serif;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
